*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  @include font-params;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  color: $base-black;
  background-color: $base-white;
}
