$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;

$base-black: #333333;
$base-grey: #bdbdbd;
$light-grey: #e2e2e2;
$lightest-grey: #e8e8e8;
$base-white: #ffffff;
$primary-color: #7859cf;
$primary-color-lighter: #9070ec;
$primary-color-darker: #593cac;
$secondary-color: #f0ebff;
$background-beige: #f3ebe1;
$background-lavender: #eae6fc;
$background-grey: #e5e6e8;

$base-font-weight: 400;
