.card {
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: $base-white;
  text-align: left;
}

.card__link {
  display: block;
  margin: 0 auto 20px;
  width: fit-content;
}

.card__title {
  @include font-params(18px, 32px);
  margin: 0;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    @include font-params(24px, 36px);
  }
}

.card__title-link {
  text-decoration: none;
  color: $base-black;
}

.card__description {
  margin: auto 0 14px;
}

.card__purchase {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  @include font-params(20px, 32px);
  font-weight: 600;
}

.card__order {
  @include button;
  @include font-params(14px, 20px);
  padding: 8px 20px 8px 46px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    display: block;
    width: 20px;
    height: 16px;
    mask-size: 20px 16px;
    background-color: $base-white;
    mask-position: 50%;
    mask-repeat: no-repeat;
    mask-image: url("../../icons/stack.svg#add-to-cart");
  }
}
