.cards {
  padding: 16px 0 40px;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 70px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
    padding-bottom: 60px;
    grid-template-columns: repeat(3, 1fr);
  }
}
