.catalog {
  padding: 50px 20px 44px;
  background-color: #f8f8f8;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 728px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1360px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 30px;
  }
}

.catalog__title {
  @include font-params(12px, 16px);
  margin: 0 0 4px;
  color: $primary-color;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.catalog__subtitle {
  @include font-params(24px, 36px);
  margin: 0 0 20px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    @include font-params(42px, 64px);
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.catalog__filter {
  @media (min-width: $desktop-width) {
    max-width: 318px;
    height: fit-content;
  }
}

.catalog__list {
  @include list-reset;
  margin: 0;
}

.catalog__pagination {
  margin: 0 auto;
}
