.catalog {
  padding: 50px 20px 44px;
  background-color: #f8f8f8;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 728px;
  }
}

.catalog__title {
  @include font-params(12px, 16px);
  margin: 0 0 4px;
  color: $primary-color;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__subtitle {
  @include font-params(24px, 36px);
  margin: 0 0 20px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    @include font-params(42px, 64px);
  }
}

.catalog__list {
  @include list-reset;
  margin: 0;
}

.catalog__pagination {
  margin: 0 auto;
}
