.contacts__title {
  @include font-params;
  margin: 0;
  color: $primary-color;
  font-weight: 700;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.contacts__address {
  padding-left: 19px;
}

.contacts__phone {
  padding-left: 19px;
  color: $base-black;
  text-decoration: none;
}
