.feature {
  position: relative;
  padding-top: 66px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 52px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  @media (min-width: $tablet-width) {
    top: 2px;
    padding-top: 0;
    padding-left: 72px;
    text-align: start;

    &::before {
      left: 0;
      transform: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 77px;
    text-align: center;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.feature--speed::before {
  background-image: url("../../icons/stack.svg#features_speed");
}

.feature--convenience::before {
  background-image: url("../../icons/stack.svg#features_convenience");
}

.feature--vigor::before {
  background-image: url("../../icons/stack.svg#features_vigor");
}

.feature--ecofriendly::before {
  background-image: url("../../icons/stack.svg#features_ecofriendly");
}

.feature__title {
  @include font-params(18px, 32px);
  margin: 0 0 4px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    @include font-params(24px, 36px);
    margin: 0 0 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.feature__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-params(16px, 24px);
  }
}
