.filter-radio {
  text-align: left;
}

.filter-radio__title {
  @include font-params(16px, 24px);
  font-weight: 600;
}

.filter-radio__change {
  display: flex;
}

.filter-radio__list {
  display: flex;
  flex-direction: column;
}

.filter-radio__control {
  @include font-params(16px, 24px);
  color: $base-black;
}
