.filter-checkbox {
  text-align: left;
}

.filter-checkbox__title {
  @include font-params(16px, 24px);
  font-weight: 600;
}

.filter-checkbox__change {
  display: flex;
}

.filter-checkbox__list {
  display: flex;
  flex-direction: column;
}

.filter-checkbox__control {
  @include font-params(16px, 24px);
  color: $base-black;
}
