.filter-range {
  padding: 0;
  text-align: left;
}

.filter-range__title {
  @include font-params(16px, 24px);
  margin-bottom: 20px;
  font-weight: 600;
}

.filter-range__slider {
  position: relative;
  margin-bottom: 35px;
  width: 100%;
  height: 2px;
  background-color: $light-grey;
  border: none;
  box-shadow: none;

  /* stylelint-disable selector-class-pattern */
  .noUi-connect {
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    top: -1px;
    background-color: $primary-color-lighter;
  }

  .noUi-handle {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $base-white;
    border-radius: 50%;
    border: 2px solid $primary-color-lighter;
    cursor: pointer;
    z-index: 2;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: transparent;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: none;
    }

    &:hover::before,
    &:focus-visible::before {
      background-color: rgba(120, 89, 207, 0.25);
    }

    &:active::before {
      background-color: $primary-color;
    }
  }

  .noUi-handle-lower {
    right: -24px;
  }

  .noUi-handle-upper {
    right: 0;
  }

  &[disabled] {
    pointer-events: none;

    .noUi-connect {
      background-color: $base-grey;
    }

    .noUi-handle {
      border-color: $base-grey;
      cursor: default;

      &:hover::before,
      &:focus-visible::before,
      &:active::before {
        background-color: transparent;
      }
    }
  }
  /* stylelint-enable selector-class-pattern */
}

.filter-range__change {
  position: relative;
  display: flex;
  gap: 44px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 8px;
    height: 2px;
    background-color: $base-grey;
  }
}

.filter-range__value {
  @include font-params(16px, 24px);
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  font-weight: 500;
  color: $base-black;
  background-color: $base-white;
  border: 2px solid $primary-color-lighter;
  border-radius: 4px;
  text-align: center;

  &::placeholder {
    color: $base-grey;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &:focus-visible {
    border-color: $primary-color-darker;
    outline: none;
  }

  &:focus-visible::placeholder {
    color: transparent;
  }

  &:disabled,
  &:disabled::placeholder {
    border-color: $light-grey;
    cursor: not-allowed;
    pointer-events: none;
  }
}
