.filter-radio {
  padding: 0;
  text-align: left;
}

.filter-radio__title {
  @include font-params(16px, 24px);
  margin-bottom: 20px;
  font-weight: 600;
}

.filter-radio__change {
  display: flex;
}

.filter-radio__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-radio__control {
  @include font-params(16px, 24px);
  color: $base-black;

  &:has(.filter-radio__input:disabled) {
    color: $base-grey;
  }
}

.filter-radio__input {
  margin: 0;
  margin-right: 5px;
  position: relative;
  top: 6px;
  appearance: none;
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-color: $base-white;
  border-radius: 50%;
  border: 2px solid $primary-color;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 0.2s ease;
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: rgba(120, 89, 207, 0.25);
  }

  &[type="radio"]:checked::before {
    background-color: $primary-color;
  }

  &[type="radio"]:disabled {
    border-color: $base-grey;
    cursor: not-allowed;
    pointer-events: none;

    &::before {
      background-color: $base-grey;
    }
  }

  &[type="radio"]:checked:disabled::before {
    background-color: $base-grey;
  }
}
