.filter {
  display: grid;
  gap: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: none;
    gap: 30px;
  }
}

.filter__price {
  margin: 0;
  border: none;
}

.filter__milk {
  margin: 0;
  border: none;
}

.filter__country {
  margin: 0;
  border: none;

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.filter__buttons {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    flex-direction: row;
    grid-column: 1 / -1;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.filter__apply {
  @include button;
  margin-top: -1px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 26px;
    padding-right: 26px;
  }
}

.filter__reset {
  @include button-secondary;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 36px;
    padding-right: 36px;
  }
}
