.footer-info {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 49px;
  }
}

.footer-info__title {
  @include font-params;
  margin: 0 0 12px;
  color: $primary-color;
  font-weight: 700;
}

.footer-info__media {
  margin: 0;
}
