.logo-title {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.logo-title__logo {
  display: block;
  padding: 10px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.logo-title__header {
  @media (min-width: $desktop-width) {
    @include font-params(12px, 16px);
    position: static;
    min-width: 126px;
    height: auto;
    margin: 0;
    font-weight: 400;
    overflow: visible;
    clip: auto;
    clip-path: none;
    white-space: normal;
  }
}
