.main-header {
  display: flex;
  justify-content: space-between;

  // не tablet-width для корректного сокрытия кнопки и отображения меню при на 767px
  @media (min-width: 767px) {
    justify-content: flex-start;
    gap: 9vw;
  }
}

.main-header__nav {
  @media (min-width: 767px) {
    width: 100%;
  }
}
