.main-header {
  display: flex;
  justify-content: space-between;

  // не tablet-width для корректного сокрытия кнопки и отображения меню при на 767px
  @media (min-width: 767px) {
    justify-content: flex-start;
  }
}

.main-header__logo-title {
  @media (min-width: $tablet-width) {
    margin-right: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 162px;
  }
}

.main-header__nav {
  @media (min-width: 767px) {
    width: 100%;
  }
}
