.map__img {
  object-fit: cover;
  width: 100%;
  max-height: 420px;
  display: block;

  @media (min-width: $tablet-width) {
    max-height: 480px;
  }

  @media (min-width: $desktop-width) {
    max-height: 540px;
  }
}
