@media (min-width: $tablet-width) {
  .page__header {
    margin: 0 auto;
    max-width: 728px;
  }

  .page__features {
    margin: 0 auto;
    max-width: 728px;
  }

  .page__footer {
    margin: 0 auto;
    max-width: 728px;
  }
}

@media (min-width: $desktop-width) {
  .page__header {
    max-width: 1360px;
  }

  .page__features {
    max-width: 1360px;
  }

  .page__footer {
    max-width: 1360px;
  }
}
