.page__main {
  flex-grow: 1;
}

.page__header,
.page__footer {
  // не ограничиваю на мобильном, смотрится не очень
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 728px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1360px;
  }
}

.page__features {
  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    max-width: 280px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 728px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1360px;
  }
}
