.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting__control {
  @include font-params(16px, 24px);
  font-weight: 600;
}

.sorting__select {
  @include font-params(16px, 24px);
  padding: 4px 30px 4px 10px;
  font-family: inherit;
  font-weight: 600;
  color: $primary-color;
  background-color: transparent;
  background-image: url("#");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: none;
  text-transform: lowercase;
  appearance: none;
}
