.sorting {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    right: 7px;
    top: 50%;
    width: 10px;
    height: 6px;
    background-image: url("../../icons/stack.svg#down-stroke");
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: transform 0.2s;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 10px;

    &::after {
      right: 10px;
    }
  }
}

.sorting.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.sorting__control {
  @include font-params(16px, 24px);
  margin-left: 3px;
  font-weight: 600;
}

.sorting__select {
  @include font-params(16px, 24px);
  max-width: 50%;
  padding: 4px 7px;
  font-family: inherit;
  font-weight: 600;
  color: $primary-color;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  text-transform: lowercase;
  appearance: none;

  &:hover {
    background-color: $secondary-color;
  }

  &:focus-visible,
  &:active {
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    padding: 4px 30px 4px 11px;
  }
}
