.sorting {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    width: 10px;
    height: 6px;
    background-image: url("../../icons/stack.svg#down-stroke");
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: transform 0.2s;
    pointer-events: none;
  }
}

.sorting.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.sorting__control {
  @include font-params(16px, 24px);
  font-weight: 600;
}

.sorting__select {
  @include font-params(16px, 24px);
  padding: 4px 7px;
  font-family: inherit;
  font-weight: 600;
  color: $primary-color;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  appearance: none;
}
